
<div class="container">
		<div class="account">
		<h2>Account</h2>
		<div class="account-pass">
		<div class="col-md-7 account-top">
			<form action="/account" method="POST">
				
				<div> 	
					<span>Login</span>
					<input name="login" type="text"> 
				</div>
				<div> 
					<span >Password</span>
					<input name="pass" type="password">
				</div>				
					<input type="submit" value="log in"> 
			</form>
		</div>
	<div class="clearfix"> </div>
	</div>
	</div>

</div>
