
<div class="container">
		<div class="account">
		<h2>Профіль</h2>
		<div class="account-pass">
		<div class="col-md-7 account-top">
			<form>
				
			<div> 	
				<span>Електронна пошта</span>
				<input type="text"> 
			</div>
			<div> 
				<span >Пароль</span>
				<input type="password">
			</div>				
				<input type="submit" value="вхід"> 
			</form>
		</div>
		<div class="col-md-5 left-account ">
			<a href="single.html"><img class="img-responsive " src="images/ac.png" alt=""></a>
			<div class="five">
			<h1>25% </h1><span>знижка</span>
			</div>
			<a href="register.html" class="create">Створити профіль</a>
<div class="clearfix"> </div>
		</div>
	<div class="clearfix"> </div>
	</div>
	</div>

</div>
