
  <h1>Hello {{username}}</h1>
   

   <a href="/add-offer"><p>add book</p></a>
  <form action="/admin" method="POST">
    <p>send news</p>
    <textarea id="" name="news"></textarea><br>
    <button>send</button>
  </form>

   

