<section class="articles_list">
    <div class="article_books">
        <h3>Literature Circles</h3>
        <p>Literature circles are small, temporary discussion groups of students who have chosen to read the same work of literature. Each member agrees to take specific responsibilities during discussion sessions. The circles meet regularly, and the discussion roles change at each meeting. When the circle finishes a book, the members decide on a way to showcase their literary work for the rest of the class.</p>
        <h4>24/03/20</h4>
    </div>
    <div class="article_books">
        <h3>Literature Circles</h3>
        <p>Literature circles are small, temporary discussion groups of students who have chosen to read the same work of literature. Each member agrees to take specific responsibilities during discussion sessions. The circles meet regularly, and the discussion roles change at each meeting. When the circle finishes a book, the members decide on a way to showcase their literary work for the rest of the class.</p>
        <h4>24/03/20</h4>
    </div>
    <div class="article_books">
        <h3>Literature Circles</h3>
        <p>Literature circles are small, temporary discussion groups of students who have chosen to read the same work of literature. Each member agrees to take specific responsibilities during discussion sessions. The circles meet regularly, and the discussion roles change at each meeting. When the circle finishes a book, the members decide on a way to showcase their literary work for the rest of the class.</p>
        <h4>24/03/20</h4>
    </div>
</section>