	{{!-- <form action="/qwerty" method="POST">
		<input type="text" name="username" placeholder="username">
		<input type="text" name="lastname" placeholder="lastname">
		<input type="text" name="email" placeholder="email">
		<button>send</button>
	</form> --}}
	
	<!---->
	<div class="banner">
	<div class="container">
		<div class="banner-matter">
			<h1>Not only writers but also readers create.</h1>
			{{!-- <div class="out">
				<a href="single.html" class="find">FIND OUT MORE </a>
				<a href="single.html" class="shop">SHOP</a>
				<div class="clearfix"> </div>
			</div> --}}
		</div>	
		</div>
	</div>
<!---->
<div class="content">
	<div class="sport-your">
<!-- requried-jsfiles-for owl -->
							<link href="/css/owl.carousel.css" rel="stylesheet">
							    <script src="/js/owl.carousel.js"></script>
							        <script>
									    $(document).ready(function() {
									      $("#owl-demo").owlCarousel({
									        items : 5,
									        lazyLoad : true,
									        autoPlay : true,
									        navigation : true,
									        navigationText :  true,
									        pagination : false,
									      });
									    });
									  </script>
							 <!-- //requried-jsfiles-for owl -->

		<!-- start content_slider -->
		<div class="line1">
	
		</div>
		<div id="example1">
		<div id="owl-demo" class="owl-carousel text-center">
			{{!-- <div class="item">
				<a href="single.html" title="image" rel="title1">
					<img class="img-responsive " src="images/world.png" alt="">
				<div class="run">
					<p>література іноземними мовами</p>
				</div>
				</a>
			</div> --}}
			<div class="item">
				<a href="single.html" title="image" rel="title1">
					<img class="img-responsive " src="images/pngtree-feather-pen-ink-icon-illustration-isolated-vector-sign-symbol-png-image_1893859.jpg" alt="">
				<div class="run">
					<p>fiction</p>
				</div>
				</a>
			</div>
			<div class="item">
				<a href="single.html" title="image" rel="title1">
					<img class="img-responsive " src="images/arrow-graph-up-right_icon-icons.com_50473.png" alt="">
				<div class="run">
				<p>specialized literature</p>
				</div>
				</a>
			</div>
			<div class="item">
				<a href="single.html" title="image" rel="title1">
					<img class="img-responsive " src="images/child-512.png" alt="">
				<div class="run">
				<p>children's literature</p>
				</div>
				</a>
			</div>
			<div class="item">
				<a href="single.html" title="image" rel="title1">
					<img class="img-responsive " src="images/icon-ios7-glasses-outline-512.png" alt="">
				<div class="run">
				<p>handbooks</p>
				</div>
				</a>
			</div>
			{{!-- <div class="item">
				<a href="single.html" title="image" rel="title1">
					<img class="img-responsive " src="images/world.png" alt="">
				<div class="run">
				<p>література іноземними мовами</p>
				</div>
				</a>
			</div> --}}
			<div class="item">
				<a href="single.html" title="image" rel="title1">
					<img class="img-responsive " src="images/pngtree-feather-pen-ink-icon-illustration-isolated-vector-sign-symbol-png-image_1893859.jpg" alt="">
				<div class="run">
					<p>fiction</p>
				</div>
				</a>
			</div>
			<div class="item">
				<a href="single.html" title="image" rel="title1">
					<img class="img-responsive " src="images/arrow-graph-up-right_icon-icons.com_50473.png" alt="">
				<div class="run">
				<p>specialized literature</p>
				</div>
				</a>
			</div>
			<div class="item">
				<a href="single.html" title="image" rel="title1">
					<img class="img-responsive " src="images/child-512.png" alt="">
				<div class="run">
				<p>children's literature</p>
				</div>
				</a>
			</div>
			<div class="item">
				<a href="single.html" title="image" rel="title1">
					<img class="img-responsive " src="images/icon-ios7-glasses-outline-512.png" alt="">
				<div class="run">
				<p>handbooks</p>
				</div>
				</a>
			{{!-- </div>
			<div class="item">
				<a href="single.html" title="image" rel="title1">
					<img class="img-responsive " src="images/world.png" alt="">
				<div class="run">
				<p>література іноземними мовами</p>
				</div>
				</a>
			</div> --}}
		</div>
		</div>
		<h6 class="your-in">Your sport</h6>
		<div class="line2">
	
		</div>
	</div>
		<!--//sreen-gallery-cursual---->
	<div class="content-grids">


	<div>
		{{#if offers}}
			{{#each offers}}
				<div class="col-md-4 content-grid">
						{{#if isAuth0}}
						<a href="/edit-offer/{{this.id}}">Edit</a>
						{{/if}}
					<img class="img-responsive " src="/web{{this.description}}" alt=""> 
					<div class="shoe">
						<p>{{this.name}}</p>
						<label>${{this.price}}</label>
						<a href="/single">find a store</a>
					</div>
					
					<div class="clearfix"> </div>
					<b class="plus-in">+</b>
				</div>
			{{/each}}
		{{/if}}
	</div>

	
	<div class="clearfix"> </div>
	</div>

	<div class="content-bottom">
		<div class="col-md-8 bottom-content">
			<script src="/js/responsiveslides.min.js"></script>
					<script>
						$(function () {
						  $("#slider").responsiveSlides({
							auto: true,
							speed: 500,
							namespace: "callbacks",
							pager: false,
							 nav:true,
						  });
						});
					</script>
					<div class="slider">
						<div class="callbacks_container">
						  <ul class="rslides" id="slider">
							<li>
							  <img src="images/Philosophy.jpg" alt="">
							  
							</li>
							<li>
							  <img src="images/home-1-optim.jpg" alt="">
								
							</li>
							<li>
							  <img src="images/Philosophy.jpg" alt="">
							  
							</li>
						  </ul>
					  </div>
					  <div class="london">
						<h5>Book forum 2020</h5>
						<p>24/2020 - 6Mins</p>
					  </div>
					</div>

		</div>
		<div class="col-md-41 bottom-grid">
		<h4>Latest Books News</h4>
			<div class="news">
				<span>25/07</span>
				<p>Literature discussion </p>
				<div class="foot">
					<label>discussion</label>
					{{!-- <ul class="eye ">
						<li><span><i> </i>315</span></li>
						<li><a href="#"><i class="comment"> </i> 3</a></li>
					</ul> --}}
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="news">	
				<span>25/07</span>
				<p>Book presentation by Dostojewski </p>
				<div class="foot">
					<label>presentation</label>
					{{!-- <ul class="eye ">
						<li><span><i> </i>315</span></li>
						<li><a href="#"><i class="comment"> </i> 3</a></li>
					</ul> --}}
					<div class="clearfix"> </div>
				</div>
			</div>
			<a href="/articles" class="view">view all articles</a>
		</div>
	<div class="clearfix"> </div>
	</div>
</div>	
