<div class="container">
		<div class="register">
		<h2>Реєстрація</h2>		
		<div class=" register-top">
			<form>
				<div> 	
				<span>Ім'я</span>
				<input type="text"> 
			</div>
			<div> 	
				<span>Прізвище</span>
				<input type="text"> 
			</div>
			<div> 	
				<span>Електронна пошта</span>
				<input type="text"> 
			</div>
			<div> 
				<span >Пароль</span>
				<input type="password">
			</div>				
				<input type="submit" value="Вступити"> 
			</form>
		</div>		
	</div>
	</div>
