<div class="container">
		<div class="register">
		<h2>Register</h2>		
		<div class=" register-top">
			<form action="/register_user" method="POST">
				<div> 	
				<span>Name</span>
				<input type="text" name="username"> 
			</div>
			<div> 	
				<span>Last name</span>
				<input type="text" name="lastname"> 
			</div>
			<div> 	
				<span>Email</span>
				<input type="text" name="email"> 
			</div>
			<div> 
				<span >Password</span>
				<input type="password" name="password">
			</div>				
				<input type="submit" value="Log in"> 
			</form>
		</div>		
	</div>
	</div>
